#pageResourcesShow {
  #resourceContent {
    padding: 40px 0;

    #resourceTitle {
      color: white;
      font-size: 60px;
      line-height: 1;
    }

    #resourceDescription {
      color: white;
      font-size: 30px;
      line-height: 1.2;
    }

    .resource-image {
      padding: 15px;
      border: 2px solid white;
      border-radius: 10px;
      margin: 15px 0;
      width: 90%;
    }
  }

  #servicesContent {
    .service-content {
      padding: 30px 0;
      border-bottom: 1px solid #d2d2d2;

      &:last-child {
        border: none;
      }

      .service-title {
        line-height: 1.2;
        font-weight: bold;
        font-size: 40px;
      }

      .service-description {
        font-size: 20px;
        line-height: 1.2;
      }

      .service-image {
        padding: 15px;
        border: 2px solid $primary;
        border-radius: 10px;
        margin: 25px 0;
        width: 90%;
      }
    }
  }
}
